<div class="chat-tab">
    <div class="left-side">
        <div class="workplace">
            <h1>No Workspaces <br> Create Now!</h1>
            <div class="new">
                <i class="fa-solid fa-circle-plus" style="color: #65128c;"></i>
                <p>Create new workspace</p>
            </div>
        </div>
        <div class="header">
            <div class="left-div">
                <h1>Messages</h1>
                <i class="fa-solid fa-caret-down"></i>
            </div>
            <div class="right-div">
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-regular fa-star"></i>
            </div>
        </div>
        <div class="contacts-list">
            
            <div class="list">
                <app-contact></app-contact>
            <app-contact></app-contact>
            <app-contact></app-contact>
            <app-contact></app-contact>
            <app-contact></app-contact>
            <app-contact></app-contact>
            <app-contact></app-contact>
            <app-contact></app-contact>
            </div>
        </div>
    </div>
    <div class="right-side">
        <app-incoming-chat class="chat-incoming"></app-incoming-chat>
        <app-outgoing-chat class="chat-outgoing"></app-outgoing-chat>
        <app-outgoing-chat class="chat-outgoing"></app-outgoing-chat>
        <app-incoming-chat class="chat-incoming"></app-incoming-chat>
        <app-outgoing-chat class="chat-outgoing"></app-outgoing-chat>
        <app-incoming-chat class="chat-incoming"></app-incoming-chat>
        <app-outgoing-chat class="chat-outgoing"></app-outgoing-chat>
        <app-incoming-chat class="chat-incoming"></app-incoming-chat>
        <div class="user-input-text">
            <i class="fa-solid fa-face-laugh-wink fa-flip"></i>
            <input type="text" placeholder="Send a message">
            <i class="fa-solid fa-paperclip"></i>
        </div>
        <div class="send">
            <i class="fa-solid fa-paper-plane fa-bounce"></i>
        </div>
    </div>
</div>
