<div class="text">
    <div class="content">
        <div class="det">
            <p>1d</p>
            <h1>You</h1>
        </div>
        <div class="message">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In incidunt quae animi temporibus minus libero perspiciatis labore illum facere inventore! Illo vel expedita quisquam debitis sed, iste aut eveniet voluptate.</p>
        </div>
    </div>
    <div class="profile-img">
        <img src="https://www.freecodecamp.org/news/content/images/2022/02/adnan-min.jpeg" alt="">
    </div>
</div>
