<div class="nav-bar">
    <div class="left-div">
        <img src="https://mir-s3-cdn-cf.behance.net/projects/404/a40e3196774919.Y3JvcCw4MDgsNjMyLDAsMA.png" alt="">
        <h1>DevHub</h1>
    </div>
    <div class="right-div">
        <button>Home</button>
        <button>Feed</button>
        <button>Community</button>
        <button>Workplace</button>
        <button>Settings</button>
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/428c5ec9-de92-4956-85cb-4d4e41e41567/dcby6dy-a149403d-b644-4dfd-b578-836dca58e926.png/v1/fill/w_482,h_500,q_80,strp/minimalist_profile_picture_by_slownebula_dcby6dy-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NTAwIiwicGF0aCI6IlwvZlwvNDI4YzVlYzktZGU5Mi00OTU2LTg1Y2ItNGQ0ZTQxZTQxNTY3XC9kY2J5NmR5LWExNDk0MDNkLWI2NDQtNGRmZC1iNTc4LTgzNmRjYTU4ZTkyNi5wbmciLCJ3aWR0aCI6Ijw9NDgyIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.MVvnMER6fKOpy4EN5AIzDlnTftSHzrCTVJZZfg2r3SY" alt="">
    </div>
</div>
